In [102]:
import pdf
import extract_amount
import extract_id
import main

filename = 'test_image/731_1722485_usd_20190228_invoice_553369247008.pdf'
def test(filename,i,j,k):
    txt = pdf.convert_pdf(filename,char_margin=i, line_margin=j, boxes_flow=k)
    df1, df2 = main.regex_extraction(txt,'test')
    print(df1)
    print(df2)
    
argu = [(2, 0.5, 0.5), (5, 0.5, 0.5), (5, 0.5, 5), (100, 1, 5), (5, 1.5, 1.5)]
txt = pdf.convert_pdf(filename,char_margin=2, line_margin=.5, boxes_flow=.5)
df1, df2 = main.regex_extraction(txt,'test')

# test('test_image/731_1722485_usd_20190228_invoice_553369247008.pdf',2, 0.5, 0.5)

In [103]:
df1

                            string            ID  rating Criteria Process
0  Invoice Number:\n\n553369247008  553369247008    15.0  Invoice    test

In [101]:
df2

,Amount,Criteria,rating,string,Process
0,100.0,Amount,27.0,Total\n\nUSD\n\nUSD\n\nUSD\n\n 100.00,test

In [98]:
s = '12345 hahahaha 99999'
type(re.sub('\d{1,9}', '%d', s))

str

In [110]:
txt = 'invoice number:\n\n %d%d'

In [111]:
txt.replace('invoice number','').replace('invoice no','')

':\n\n %d%d'

In [112]:
invoice = re.search('\d.*\d', 'lalalalal')

In [113]:
invoice.group(0)

AttributeError: 'NoneType' object has no attribute 'group'